##
#set($jpaEntityClass    = "${entity.name}" )
#if ( $entity.hasCompositePrimaryKey() )
#set($jpaEntityIdClass  = "${entity.name}Id" )
#else
#set($jpaEntityIdClass  = $entity.keyAttribute.wrapperType )
#end
#set($dtoClass        = "${entity.name}DTO" )
#set($repositoryClass = "${entity.name}Repository" )
#set($serviceClass    = "${entity.name}Service" )
#set($controllerClass = "${entity.name}RestController" )
##
## #set($recordClass    = "${entity.name}Record" )
## #set($recordInstance = $fn.uncapitalize($entity.name) )
## #set($jpaMapperClass        = "${entity.name}RecordMapper" )
## #set($jpaMapperInstance     = "${recordInstance}Mapper" )
##
